<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>NBA Stats Dashboard</title>
    
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <link rel="stylesheet" href="/static/css/style.css" />

</head>

<body>

    <nav  class="main-nav"> 
        <ul class="main-logo-items"> 
                <img class="link-logo" src="../img/nba-logo.png" alt="">
                <h1 class="main-logo"> NBA Statistics Dashboard</h1>     
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 jumbotron text-center">
        
            <h2>NBA Dashboard</h2>
            <h6> This dashboard allows users to explosure the historical performance of various NBA teams and gain insights into the players associated with each team.</h6>
             <p>Change the dropdown below to update the plots</p>
    
             <select id="selDataset" onchange=" updateCharts(this.value)">
              {% for select_team in team_names -%}
             <option>{{ select_team }}</option>
                 {% endfor %}
              </select>
            
    
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm-6">
                <div id="teamBarChart"></div>
                </div>

            <div class="col-sm-12">
                <canvas id="playerPieChart" style="width: 800px;"></div>
                </div>
              </div>
          
              <div class="row">
                <div class="col-sm-12">
                  <div id="map"></div>
            </div>
        </div>



    <h4>Data Sources:</h4>
        <ul>
            <li>
                <p>https://basketball.realgm.com/nba/stats/</p>
            </li>
            <li>
                <p>https://basketball.realgm.com/nba/team-stats/</p>
            </li>
        </ul>

    <h4>Accessing the NBA Stats API</h4>
    <p>The following endpoints are available to access data:</p>
    <ul>
        <li>
            <a href="https://nbadashboardproject.azurewebsites.net/teams">/api/teams</a>
            <p>Return a list of all NBA Teams</p>
        </li>
        <li>
            <a href="https://nbadashboardproject.azurewebsites.net/player_info">/api/player_info</a>
            <p>Return a list of player data</p>
        </li>
        <li>
            <a href="https://nbadashboardproject.azurewebsites.net/player_scores">/api/player_scores</a>
            <p>Return a list of player scores across a number of years</p>
        </li>
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script src="../static/js/nbamap.js?v=1"></script>
    <script src="../static/js/Team.js"></script>
    <script src="../static/js/score.js"></script>

    
</body>
</html>
